# Default values for visualization-api.

replicaCount: 1

image:
  repository: xpsky/naavre-visualization-api
  pullPolicy: IfNotPresent
  tag: "latest"


env:
  INGRESS_DOMAIN: "staging.demo.naavre.net"
  STREAMLIT_URL: "https://staging.demo.naavre.net/visualization-api"
  STREAMLIT_DATA_DIR: "/data/api/streamlit_visualizations"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

rbac:
  create: true
  rules:
    - apiGroups: [""]
      resources: ["services"]
      verbs: ["get", "list", "create", "delete"]
    - apiGroups: ["networking.k8s.io"]
      resources: ["ingresses"]
      verbs: ["get", "list", "create", "delete"]

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
  hosts:
    - host: staging.demo.naavre.net
      paths:
        - path: /visualization-api/(.*)
          pathType: ImplementationSpecific
  tls:
    - hosts:
        - staging.demo.naavre.net

persistence:
  enabled: true
  accessModes:
    - ReadWriteOnce
  size: 1Gi
  storageClassName: ""
  mountPath: "/data/api/streamlit_visualizations"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""